.card-container {
    margin-top: 20px;
}

.card {
    background-color: var(--secondary-color);
    padding: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.card-header {
 color: #64748b
}



.card-text {
    padding: 30px 0;
    color: rgba(255, 255, 255, 0.894);
}

.comments {
    color: var(--primary-color);
}
