.todo {
    display: flex;
    flex-direction: column;

}

.todo-body {
    background-color:  rgba(255, 255, 255, 0.894);
    padding: 10px;
    border-radius: 10px;
}

.todo-header {
    color: var(--background);
}

.todo-content {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;

}

.todo-text {
    font-weight: 600;
    color: var(--secondary-color);
}

.todo-content button {
    padding: 0 5px;
    border: none;
    background-color: red;
    color: #fff;
} 
