@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
  --background: #1f2937;
  --primary-color:#5eead4;
  --secondary-color: #374151;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  overflow-y: hidden;
}

.pages {
  color: var(--primary-color);
  text-align: center;
  font-size: 3.5rem;
  margin-top: 10px;
}

.chat-wrapper {
  display: flex;
  margin: auto;
  height: 80vh;
  max-width: 90%;
}

button {
  cursor: pointer;
}