@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

:root {
  --background: #1f2937;
  --primary-color:#5eead4;
  --secondary-color: #374151;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

body {
  background-color: var(--background);
  overflow-y: hidden;
}

.pages {
  color: var(--primary-color);

}

.chat-wrapper {
  display: flex;
  margin: auto;
  height: 80vh;
  max-width: 90%;
  margin-top: 30px;
}

button {
  cursor: pointer;
}

.form-container {
  display: flex;
  width: 100%;
  height: 80vh;
  justify-content: center;
  align-items: center;

}

.form-container .wrapper {
  background-color: #374151;
  width: 600px;
  border-radius: 10px;
  padding: 30px;

}

.form-container form {
  display: flex;
  flex-direction: column;
  padding: 30px;
}

.form-container form input {
  margin-top: 1rem;
  font-size: 1rem;
  outline-color: #2dd4bf;
  border-radius: 10px;
  border: none;
  padding: 10px;
}

.form-container form button {
  margin-top: 1rem;
  border-radius: 10px;
  border: none;
  padding: 10px;
  font-size: 1rem;
  background-color: #5eead4;
  transition: all 0.5s ease;
}

.form-container form button:hover {
  background-color: #2dd4bf;
}

.form-container .title {
  font-size: 2rem;
  text-align: center;
}
