.comment-form {
    margin: 10px auto;
}
.comment-form .form-input {
    width: 80%;
    padding: 10px;
    border: none;
    outline-width: 0;
    font-size: 1rem;
}

.comment-form .btn {
    border-radius: 0;
    font-size: 1rem;
}

@media screen and (max-width: 650px) {
    .comment-form .form-input {
      width: 60%;
      font-size: 0.9rem;
    }

    .comment-form .btn {
      font-size: 0.9rem;
  
  }
  }
  